<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div class="container">
	<body  class="homepage" >
		<!--
		<div align = "center">
			<h1>The Challenge Official</h1>
			<p></p>

			  <h2>
			    West Coast Melodic Hardcore
			  </h2>

			  <%= link_to "Check out our Music!", 'music', class: "btn btn-lg btn-primary" %>

		</div>-->
		<div class="row">
			<div class = "col-md-12">
				<div align="center">
					<%= image_tag("BadApplesIntro_v2.jpg") %>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 20px;">
			<div class="col-md-2">
			</div>
			<div class="col-md-1">
				<%= link_to image_tag("Soundcloud.png"), "https://soundcloud.com/thechallengeband" %>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-1">
				<%= link_to image_tag("Spotify_Icon_RGB_Green_48.png"), "http://thechallengeband.bandcamp.com/" %>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2" align="center">
				<%= link_to image_tag("bc-logotype-color-48.png"), "http://thechallengeband.bandcamp.com/" %>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-1">
				<%= link_to image_tag("fb-logo-blue.jpg"), "http://facebook.com/thechallengeband" %>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>
	</body>
</div>