<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div class="container">
	<body  class="homepage" >
		<!--
		<div align = "center">
			<h1>The Challenge Official</h1>
			<p></p>

			  <h2>
			    West Coast Melodic Hardcore
			  </h2>

			  <%= link_to "Check out our Music!", 'music', class: "btn btn-lg btn-primary" %>

		</div>-->
		<div class="row">
			<div class = "col-md-12 col-sm-12 col-xs-12">
				<div class="img-box" style="margin-left: auto; margin-right: auto;">
					<%= image_tag("BadApplesIntro_v2.jpg", class: "img-responsive") %>
				</div>
			</div>
		</div>
		<div>
			<div class="row" style="padding-top: 20px; width: 75%; margin-left: auto; margin-right: auto;">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<%= link_to image_tag("SoundcloudActive.png", style: "width: 45px; margin-left: auto; margin-right: auto;"), "https://soundcloud.com/thechallengeband" %>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<%= link_to image_tag("SpotifyActive.png", style: "width: 45px; margin-left: auto; margin-right: auto;"), "http://thechallengeband.bandcamp.com/" %>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">

					<%= link_to image_tag("FacebookActive.png", style: "width: 45px; margin-left: auto; margin-right: auto;"), "http://facebook.com/thechallengeband"%>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<%= link_to image_tag("BandcampActive.png", style: "width: 45px; margin-left: auto; margin-right: auto;"), "http://thechallengeband.bandcamp.com/" %>
				</div>
			</div>
		</div>
	</body>
</div>